/* Hide the first dropdown-divider if no filter option element is listed before it.
   This can happen for some subset configurations of the block_muprogmyoverview program filter. */
.block_muprogmyoverview button#groupingdropdown + .dropdown-menu li:first-of-type.dropdown-divider:first-of-type {
    display: none;
}

.block_muprogmyoverview {
    .block-controls {
        display: none;
    }
    .block-cards {
        border-top: 1px solid #dee2e6;
        padding-top: 0.5rem;
    }
    border: 0 !important; /* stylelint-disable-line declaration-no-important */
    > .card-body {
        padding-top: 0 !important; /* stylelint-disable-line declaration-no-important */
        padding-left: 0 !important; /* stylelint-disable-line declaration-no-important */
        padding-right: 0 !important; /* stylelint-disable-line declaration-no-important */
    }
    .content {
        min-height: 19.35rem;
    }
    .paged-content-page-container {
        min-height: 13rem;
    }
    .description-image {
        height: 5rem;
        width: 5rem;
        background-position: center;
        background-size: cover;
    }
    .list-image {
        height: 5rem;
        width: 20rem;
        background-position: center;
        background-size: cover;
    }
    @media (max-width: 1199.98px) {
        .list-image {
            width: 100%;
        }
    }
    .whitebutton .btn-secondary {
        background: white;
        border-color: var(--bs-primary);
        color: var(--bs-primary);
    }
    .program-card .card-img-top {
        height: 7rem;
        background-position: center;
        background-size: cover;
    }
}
