{{!
This file is part of MuTMS suite of plugins for Moodle™ LMS.

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

@copyright  2025 Petr Skoda
@license    https://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later

}}
{{!
    @template mod_mubook/content/disclosure

    Collapsible content.

    Example context (json):
    {
        "conntentid": "123",
        "targetid": null,
        "labelshow": "Show solution",
        "labelhide": "Hide solution",
        "labelprinted": "Solution",
        "editing": true
    }

}}
{{#targetid}}
    <button class="btn btn-outline-primary mubook-content-disclosure-button mt-2 mb-2" type="button" data-toggle="collapse"
            data-target="#mubook-content-disclosure-target-{{contentid}}" aria-expanded="{{#editing}}true{{/editing}}{{^editing}}false{{/editing}}" aria-controls="mubook-content-disclosure-target-{{contentid}}">
        <span class="d-print-none label-collapsed">{{{labelshow}}}</span>
        <span class="d-print-none label-expanded">{{{labelhide}}}</span>
        <span class="d-print-inline hidden">{{{labelprinted}}}</span>
    </button>
{{/targetid}}
{{^targetid}}
    {{#editing}}
        <span class="text-danger">{{#str}}content_type_disclosure_target_none,mod_mubook{{/str}}</span>
    {{/editing}}
{{/targetid}}
