{{!
    This file is part of MuTMS suite of plugins for Moodle™ LMS.

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
}}
{{!
    @template block_muprogmyoverview/view-list

    This template renders the list view for the muprogmyoverview block.

    Example context (json):
    {
        "programs": [
            {
                "name": "Assignment due 1",
                "viewurl": "https://moodlesite/program/view.php?id=2",
                "programimage": "https://moodlesite/pluginfile/123/program/overviewfiles/123.jpg",
                "fullname": "program 3",
                "hasprogress": true,
                "progress": 10,
                "programcategory": "Category 1"
            }
        ]
    }
}}

<ul class="list-group">
    {{#programs}}
        <li class="list-group-item program-listitem border-start-0 border-end-0 border-top-0 px-2 rounded-0"
            data-region="program-content"
            data-program-id="{{{id}}}">
            <div class="row">
                <div class="col-md-2 d-flex align-items-center mb-sm-3 mb-md-0">
                    <a href="{{viewurl}}" tabindex="-1"  class="mw-100 w-100">
                        <div class="rounded list-image mw-100" style='background-image: url("{{{programimage}}}");'>
                            <span class="visually-hidden">{{fullname}}</span>
                        </div>
                    </a>
                </div>
                <div class="col-md-9 d-flex flex-column">
                    <div class="text-muted muted d-flex flex-wrap">
                        <span class="visually-hidden">
                            {{#str}}programidnumber, tool_muprog{{/str}}
                        </span>
                        <div>{{{idnumber}}}</div>
                    </div>
                    <a href="{{viewurl}}" class="aalink programname">
                        {{> block_muprogmyoverview/favouriteicon }}
                        <span class="visually-hidden">
                            {{#str}}programname, tool_muprog{{/str}}
                        </span>
                        {{{fullname}}}
                    </a>
                    {{#showprogramcategory}}
                        <div class="text-muted muted d-flex flex-wrap">
                            <span class="visually-hidden">
                                {{#str}}programcategory, tool_muprog{{/str}}
                            </span>
                            <span class="categoryname">
                                {{{programcategory}}}
                            </span>
                        </div>
                    {{/showprogramcategory}}
                    <div>
                        <span class="visually-hidden">
                            {{#str}}programstatus, tool_muprog{{/str}}
                        </span>
                        <span class="badge {{statusclass}}">
                            {{status}}
                        </span>
                    </div>
                    {{#hasprogress}}
                        <div class="text-muted muted d-flex flex-wrap mt-auto">
                            {{> block_muprogmyoverview/progress-bar}}
                        </div>
                    {{/hasprogress}}
                </div>
                <div class="col-md-1 p-0 d-flex menu">
                    {{> block_muprogmyoverview/program-action-menu }}
                </div>
            </div>
        </li>
    {{/programs}}
</ul>
