{{!
    This file is part of MuTMS suite of plugins for Moodle™ LMS.

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
}}
{{!
    @template block_muprogmyoverview/placeholders

    This template renders the loading placeholders for the muprogmyoverview block.

    Example context (json):
    {}
}}
<div data-region="loading-placeholder-content" aria-hidden="true">
    {{#card}}
        <div class="card-grid row row-cols-1 row-cols-sm-2 row-cols-md-3 mx-0 flex-nowrap overflow-hidden" style="height: 13rem">
            <div class="col d-flex px-1">{{> block_muprogmyoverview/placeholder-program }}</div>
            <div class="col d-flex px-1">{{> block_muprogmyoverview/placeholder-program }}</div>
            <div class="col d-flex px-1">{{> block_muprogmyoverview/placeholder-program }}</div>
        </div>
    {{/card}}
    {{#list}}
        <ul class="list-group">
            {{> block_muprogmyoverview/placeholder-program-list-item }}
            {{> block_muprogmyoverview/placeholder-program-list-item }}
            {{> block_muprogmyoverview/placeholder-program-list-item }}
            {{> block_muprogmyoverview/placeholder-program-list-item }}
        </ul>
    {{/list}}
    {{#description}}
        <ul class="list-group">
            {{> block_muprogmyoverview/placeholder-program-list-item }}
            {{> block_muprogmyoverview/placeholder-program-list-item }}
            {{> block_muprogmyoverview/placeholder-program-list-item }}
            {{> block_muprogmyoverview/placeholder-program-list-item }}
        </ul>
    {{/description}}
</div>
