{{!
    This file is part of MuTMS suite of plugins for Moodle™ LMS.

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
}}
{{!
    @template block_muprogmyoverview/programs-view

    This template renders the programs view for the muprogmyoverview block.

    Example context (json):
    {
        "noprogramsimg": "https://moodlesite/theme/image.php/boost/block_muprogmyoverview/1535727318/programs",
        "grouping": "all",
        "sort": "fullname",
        "view": "card"
    }
}}
<div id="programs-view-{{uniqid}}"
    data-region="programs-view"
    data-display="{{view}}"
    data-grouping="{{grouping}}"
    data-sort="{{sort}}"
    data-prev-display="{{view}}"
    data-paging="{{paging}}"
    data-noprogramsimg="{{noprogramsimg}}"
    data-totalprogramcount="{{totalprogramcount}}"
    data-displaycategories="{{displaycategories}}"
>
    <div data-region="program-view-content">
        {{> block_muprogmyoverview/placeholders }}
    </div>
</div>
