{{!
    This file is part of MuTMS suite of plugins for Moodle™ LMS.

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
}}
{{!
    @template block_muprogmyoverview/view-cards

    This template renders the cards view for the muprogmyoverview block.

    Example context (json):
    {
        "programs": [
            {
                "name": "Assignment due 1",
                "viewurl": "https://moodlesite/program/view.php?id=2",
                "programimage": "https://moodlesite/pluginfile/123/program/overviewfiles/123.jpg",
                "fullname": "Program 3 for \"Statistical and Computational Tools\" ",
                "hasprogress": true,
                "progress": 10,
                "programcategory": "Category 1"
            }
        ]
    }
}}

{{< block_muprogmyoverview/programcards }}
    {{$menu}}
        <div class="card-footer menu border-0 bg-white ms-auto p-2">
            {{> block_muprogmyoverview/program-action-menu }}
        </div>
    {{/menu}}
    {{$progress}}
        {{#hasprogress}}
            <div class="card-footer border-0 bg-white w-100">
                {{> block_muprogmyoverview/progress-bar}}
            </div>
        {{/hasprogress}}
    {{/progress}}
    {{$programname}}
        <span class="multiline" title="{{fullname}}">
            <span class="visually-hidden">{{{fullname}}}</span>
            <span aria-hidden="true">
                {{#shortentext}}55, {{{fullname}}} {{/shortentext}}
            </span>
        </span>
    {{/programname}}
    {{$programcategory}}
        {{#showprogramcategory}}
            <span class="visually-hidden">
                {{#str}}programcategory, tool_muprog{{/str}}
            </span>
            <span class="categoryname text-truncate">
                {{{programcategory}}}
            </span>
        {{/showprogramcategory}}
    {{/programcategory}}
{{/ block_muprogmyoverview/programcards }}
