{{!
This file is part of Multi-tenancy plugin for Moodle™.

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

@copyright   2025 Petr Skoda
@license     https://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later

}}
{{!
    @template tool_mutenancy/loginurl

    Template to display tenant login URL with copy to clipboard button.

    Context variables required for this template:
    * url - Tenant login URL

    Example context (json):
    {
        "url": "https://example.com/login/?tenant=TEN1"
    }
}}
{{#url}}
<div>
<span id="tool_mutenancy_ti_{{uniqid}}">{{url}}</span>
<a href="#"
        data-action="copytoclipboard" data-clipboard-target="#tool_mutenancy_ti_{{uniqid}}"
        data-clipboard-success-message="{{#str}}textcopiedtoclipboard{{/str}}">
    {{#pix}}t/copy, core{{/pix}} {{copylabel}}
</a>
</div>
{{#js}}
    require(['core/copy_to_clipboard']);
{{/js}}
{{/url}}
